.header{
    background-color: $violetaClaro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 100px;
        margin-left: 16px;
        margin-top: 5px;
        &:hover{
            width: 123px;
            transition: 0.5s;
            }
        }    
    &__menu{
        display: flex;
        width: 500px;
        height: 100px;
        align-items: center;
            &__lista{
                display: flex;
                flex-direction: row;
                list-style: none;
                a{
                    color: black;
                    font-size: 20px;
                    text-decoration: none;
                    margin: 10px;
                    &:hover{
                        background-color: white;
                    }
                }
            }     
        }
    &__redesSociales{
                    display: flex;
                    padding-top: 50px;
                    margin-bottom: 50px;
                    a{
                        margin-right: 4px;
                        color: black;
                    }
                }
            }
        

    